{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "experimentalObjectRestSpread": true,
        "forOf": true,
        "generators": true,
        "globalReturn": false,
        "jsx": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
    },
    "rules": {
        "no-console": 0,
        "quotes": [2, "single"],
        "semi": [2, "always"],
    }
}